{{define "content"}}
<link href="/web/assets/css/carfare.css?ver=2" rel="stylesheet">
<div class="container-fluid">
  <form>
    <div class="card shadow">
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">交通費</h6>
      </div>
      <div class="card-body">
        <!-- <div class="row">
          <input type="button" id="btnSearch" class="btn btn-primary" value="検索">
        </div> -->
        <div class="row">
          <input type="hidden" id="userId" value="{{.userId}}">
          <input type="button" id="btnAdd" class="btn btn-primary" value="行追加">
        </div>
        <div class="row">
          <table id="dataTable">
            <tr class="thead">
              <th>日付</th>
              <th>出発</th>
              <th>到着</th>
              <th>金額</th>
              <th>備考</th>
            </tr>
            {{range .list}}
            <tr class="dataTable-row">
              <td class="date-label">
                {{.Date}}
              </td>
              <td data-label="日付："><input type="text" name="date" class="date form-control" value="{{.Date}}"></td>
              <td data-label="出発："><input type="text" name="start" class="start form-control" value="{{.Start}}"></td>
              <td data-label="到着："><input type="text" name="end" class="end form-control" value="{{.End}}"></td>
              <td data-label="金額："><input type="text" name="price" class="price form-control" value="{{.Price}}"></td>
              <td data-label="備考："><input type="text" name="bikou" class="bikou form-control" value="{{.Bikou}}"></td>
              <td class="btn-area text-center">
                <input type="button" class="btn btn-primary btnInsert" value="登録">
                <input type="button" class="btn btn-success btnUpdate" value="更新">
                <input type="button" class="btn btn-danger btnDelete" value="削除">
              </td>
              <input type="hidden" class="documentId" value="{{.DocumentId}}">
            </tr>
            {{end}}
          </table>
        </div>
      </div>
    </div>
  </form>
</div>
<div id="dummy">
  <table>
    <tr class="dataTable-row">
      <td class="date-label"></td>
      <td data-label="日付："><input type="text" name="date" class="date form-control" value=""></td>
      <td data-label="出発："><input type="text" name="start" class="start form-control" value=""></td>
      <td data-label="到着："><input type="text" name="end" class="end form-control" value=""></td>
      <td data-label="金額："><input type="text" name="price" class="price form-control" value=""></td>
      <td data-label="備考："><input type="text" name="bikou" class="bikou form-control" value=""></td>
      <td class="btn-area text-center">
        <input type="button" class="btn btn-primary btnInsert" value="登録">
        <input type="button" class="btn btn-success btnUpdate" value="更新">
        <input type="button" class="btn btn-danger btnDelete" value="削除">
      </td>
      <input type="hidden" class="documentId" value="">
    </tr>
  </table>
</div>

<script src="/web/assets/js/carfare.js"></script>

{{end}}