{{define "content"}}
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                <i class="icon-reorder shaded"></i></a><a class="brand" href="index.html">kazuのService</a>
            <div class="nav-collapse collapse navbar-inverse-collapse">
                <ul class="nav pull-right">
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">テーマ別
                        <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">考え中</a></li>
                            <li><a href="#">考え中</a></li>
                        </ul>
                    </li>
                    <li><a href="kotsuhi">交通費</a></li>
                </ul>
            </div>
            <!-- /.nav-collapse -->
        </div>
    </div>
    <!-- /navbar-inner -->
</div>
<!-- /navbar -->
<div class="wrapper">
    <div class="container">
        <div class="row">
            <!--/.span3-->
            <div class="span12">
                <div class="content">
                    <!--/.module-->
                    <div class="module">
                        <div class="module-head">
                            <h3>Each function</h3>
                        </div>
                        <div class="module-option clearfix">
                            <div class="pull-left">
                                <a class="btn btn-large btn-info">行追加</a>
                                <a class="btn btn-large btn-info">登録</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!--/.span3-->
            <div class="span12">
                <div class="content">
                    <!--/.module-->
                    <div class="module">
                        <div class="module-head">
                            <h3>倉庫資材</h3>
                        </div>
                        <div class="module-body table">
                            <form action="">
                            <table cellpadding="0" cellspacing="0" border="0" class="datatable-1 table table-bordered table-striped	 display"
                                width="100%">
                                <thead>
                                    <tr>
                                        <th>
                                            行き
                                        </th>
                                        <th>
                                            帰り
                                        </th>
                                        <th>
                                            金額
                                        </th>
                                        <th>
                                            備考
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{range .list}}
                                    <tr class="odd gradeX">
                                        <td>
                                            <input type="text" name="start" value="{{.Start}}">
                                        </td>
                                        <td>
                                            <input type="text" name="end" value="{{.End}}">
                                        </td>
                                        <td>
                                            <input type="text" name="plice" value="{{.Price}}">
                                        </td>
                                        <td class="center">
                                            <input type="text" name="bikou" value="">
                                        </td>
                                    </tr>
                                    {{end}}
                                </tbody>
                            </table>
                            </form>
                        </div>
                    </div>
                    <!--/.module-->
                </div>
                <!--/.content-->
            </div>
            <!--/.span9-->
        </div>
    </div>
    <!--/.container-->
</div>
<!--/.wrapper-->
<div class="footer">
    <div class="container">
        <b class="copyright">&copy; 2014 Edmin - EGrappler.com </b>All rights reserved.
    </div>
</div>
<div style="display: none;">
    <table>
        <tr id="row-origin" class="odd gradeX">
                <td>
                    <input type="text" name="iki">
                </td>
                <td>
                    <input type="text" name="kaeri">
                </td>
                <td>
                    <input type="text" name="kingaku">
                </td>
                <td class="center">
                    <input type="text" name="bikou">
                </td>
            </tr>
    </table>
</div>
<script>
    function addRow(){

    }

</script>
{{end}}
